/* Card */
.card {
    /* Size */
    width: 100%;

    /* Display */
    display: flex;
    align-items: center;

    /* Margin and padding */
    padding: 1rem 0.5rem;

    /* Border */
    border-radius: 0.75rem;

    /* Shadow */
    box-shadow: 0 0.25rem 0.5rem $shadow-color;
}
