/* Card */
.card {
    /* Size */
    width: 100%;
    max-height: 10rem;

    /* Display */
    display: flex;
    align-items: center;

    /* Border */
    border-radius: 0.75rem;

    /* Shadow */
    box-shadow: 0 0.25rem 0.5rem $shadow-color;

    /* Position */
    position: relative;

    @include breakpointMax(350px) {
        /* Border */
        border-radius: 0.375rem;
    }

    svg {
        /* Color */
        color: #6e6e6e;
    }

    .new-label {
        /* Size */
        font-size: 0.8rem;

        /* Background */
        background: $tertiary-color;

        /* Margin and padding */
        padding: 0.4rem 0.75rem;

        /* Border */
        border-radius: 0.15rem;

        /* Color */
        color: darken($tertiary-color, 35%);

        /* Font */
        font-weight: bold;

        /* Position */
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;

        @include breakpointMax(350px) {
            /* Size */
            font-size: 0.4rem;

            /* Margin and padding */
            padding: 0.2rem 0.375rem;

            /* Border */
            border-radius: 0.1rem;

            /* Position */
            top: 0.5rem;
            right: 0.5rem;
        }

        @include breakpointMax(100px) {
            /* Size */
            font-size: 0.2rem;

            /* Margin and padding */
            padding: 0.1rem 0.15rem;

            /* Border */
            border-radius: 0.05rem;

            /* Position */
            top: 0.25rem;
            right: 0.25rem;
        }
    }

    .thumbnail {
        /* Display */
        overflow: hidden;

        /* Border */
        border-radius: 0.75rem 0.75rem 0 0;

        img {
            /* Size */
            width: 100%;

            /* Object-fit */
            object-fit: cover;
            object-position: center bottom;
        }

        @include breakpointMax(350px) {
            /* Border */
            border-radius: 0.375rem 0.375rem 0 0;
        }

        @include breakpointMax(100px) {
            /* Border */
            border-radius: 0.15rem 0.15rem 0 0;
        }
    }

    .infos {
        /* Size */
        width: 100%;

        /* Display */
        display: flex;
        justify-content: space-between;

        /* Margin and padding */
        padding: 0.75rem;

        @include breakpointMax(350px) {
            /* Margin and padding */
            padding: 0.375rem;
        }

        @include breakpointMax(100px) {
            /* Margin and padding */
            padding: 0.15rem;
        }

        .text {
            /* Display */
            display: flex;
            flex-direction: column;
            gap: 0.1rem;

            @include breakpointMax(350px) {
                /* Display */
                gap: 0.05rem;
            }

            h3 {
                /* Size */
                font-size: 1.1rem;

                @include breakpointMax(350px) {
                    /* Size */
                    font-size: 0.55rem;
                }

                @include breakpointMax(100px) {
                    /* Size */
                    font-size: 0.35rem;
                }
            }

            p {
                /* Size */
                font-size: 1rem;

                /* Font */
                font-family: "Roboto-light", sans-serif;

                @include breakpointMax(350px) {
                    /* Size */
                    font-size: 0.5rem;
                }

                @include breakpointMax(100px) {
                    /* Size */
                    font-size: 0.25rem;
                }
            }
        }

        .fav {
            /* Display */
            display: flex;
            align-items: center;

            /* Margin and padding */
            padding: 0 0.75rem;

            @include breakpointMax(350px) {
                /* Margin and padding */
                padding: 0 0.375rem;
            }

            @include breakpointMax(100px) {
                /* Margin and padding */
                padding: 0 0.15rem;
            }

            svg {
                /* Size */
                font-size: 1.4rem;

                @include breakpointMax(350px) {
                    /* Size */
                    font-size: 0.7rem;
                }

                @include breakpointMax(100px) {
                    /* Size */
                    font-size: 0.45rem;
                }
            }
        }
    }
}
