/* SVG gradient setting */
.svg-settings {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.linear-stop1,
.radial-stop2 {
    stop-color: $primary-color;
}

.linear-stop2,
.radial-stop1 {
    stop-color: $secondary-color;
}
