/* Colors */
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$shadow-color: #cecece;

$bg-color1: #f3f3f3;
$bg-color2: #e2e2e2;
$footer-bg: #2e2e2e;

$loader-iterations: 3;
$loader-duration: 1s;
$loader-delay: 250ms;
$page-duration: 0.5s;
$page-delay: $loader-duration * $loader-iterations;
