/* Header */
.header {
    /* Size */
    width: 100%;

    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Margin & padding */
    padding: 1rem 2.25rem 0.25rem 2.25rem;

    /* Shadow */
    box-shadow: 0 0.1rem 0.25rem $shadow-color;

    @include breakpoint(200px) {
        padding: 0.5rem 0.15rem 0.15rem 0.15rem;
    }

    &__logo {
        /* Size */
        width: 9rem;
        min-width: 2rem;
    }

    &__back {
        /* Size */
        font-size: 1rem;

        /* Position */
        position: fixed;
        left: 1rem;
        top: 1.25rem;

        @include breakpoint(200px) {
            /* Size */
            font-size: 0.5rem;

            /* Position */
            left: unset;
            top: 0.25rem;
        }
    }
}
