header {
    /* Size */
    width: 100%;

    /* Display */
    display: flex;
    justify-content: center;

    /* Margin & padding */
    padding: 0.5rem;
    padding-top: 1rem;

    /* Shadow */
    box-shadow: 0 0.1rem 0.25rem $shadow-color;

    svg {
        /* Size */
        width: 10rem;
    }
}
