.intro {
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    /* Text align */
    text-align: center;

    /* Margin and padding */
    padding: 2.5rem 1rem;

    /* Background */
    background: $bg-color1;

    @include breakpointMax(350px) {
        /* Display */
        gap: 0.5rem;

        /* Margin and padding */
        padding: 1.25rem;
    }

    &__heading {
        /* Size */
        font-size: 1.4rem;
        max-width: 15rem;

        @include breakpointMax(350px) {
            /* Size */
            font-size: 0.7rem;
        }

        @include breakpointMin(767px) {
            /* Size */
            max-width: 25rem;
        }
    }

    &__paragraph {
        /* Size */
        font-size: 1rem;
        max-width: 20rem;

        /* Font */
        font-family: "Roboto-light", sans-serif;

        @include breakpointMax(350px) {
            /* Size */
            font-size: 0.5rem;
        }

        @include breakpointMin(1224px) {
            /* Size */
            max-width: 30rem;
        }
    }
}
