.page,
.menu-page {
    /* Width */
    width: 100%;

    /* Position */
    position: absolute;
    top: 0;

    /* Background */
    background: white;
}

.page {
    /* Animation */
    animation: page $page-duration ease-out $page-delay both;
}
